@import './breakpoints';
@import './variables';

//Flexbox
@mixin centered($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//Button
@mixin button{
    padding: 1px 5px;
    border: 2px solid $dark-color;
    text-transform: uppercase;
    letter-spacing: .3rem;
    background-color: transparent;
    outline: none;
    font-family: $paragraph-font;
    font-weight: 400;
    color: $dark-color;
    font-size: 1rem;
    width: 170px;
}


//Responsible
// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

 // Custom devices
@mixin rwd($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
 }

 //Animation

 @mixin link-animation{
    width: 100%;
    transition: all 500ms linear;
}