@import '../../styles/global.scss';


.Navbar{
    @include md{
        width: 100%;
    }
  
    &__list{
        @include centered(row);
        list-style: none;

        @include md{
            @include centered(column);
            text-align: center;
            
        }

        & li:not(:last-child){
            margin-right: 1.8rem;

            @include md{
                margin: .5rem 0;
            }
        }

        & li a{
            text-decoration: none;
            position: relative;

            &::after{
                content:"";
                width: 0;
                position: absolute;
                bottom: -35%;
                left: 0;
                height: 3px;
                background-color: $light-color;
                transition: width .2s;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }
}

.listHeaderNavbar{

    @include md{
        display: none;
        visibility: hidden;
    }
}

.mobileListFooterNavbar{

    @include md{
        display: block;
        visibility: show;
    }
}