*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - Mobile: 375px
- Desktop: 1440px */

/* ### Primary

- White: #fff;
- Black: #000;
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%) */

/* ### Fonts

- Family: [Alata](https://fonts.google.com/specimen/Alata)
- Weight: 400

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weight: 300 */